<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootsrap -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <!-- Font awesome -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

    <!-- Template main Css -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Modernizr -->
    <script src="/javascripts/modernizr-2.6.2.min.js"></script>


</head>

<body>


    <header class="main-header">


        <nav class="navbar navbar-static-top">
    
            <div class="navbar-top">
    
                <div class="container">
                    <div class="row">
    
                        <div class="col-sm-6 col-xs-12">
    
                            <ul class="list-unstyled list-inline header-contact">
                                <li><i class="fa fa-phone"></i> <a href="tel:">+880-1623995145 </a></li>
                                <li><i class="fa fa-envelope"></i> <a
                                            href="mailto:vedo96@gmail.com">vedo96@gmail.com</a></li>
                                <i class="fa fa-envelope"></i> <a
                                        href="mailto:vedo96@gmail.com">vedo96@gmail.com</a>
                            </ul> <!-- /.header-contact  -->
    
                        </div>
    
                        <div class="col-sm-6 col-xs-12 text-right">
    
                            <ul class="list-unstyled list-inline header-social">
    
                                <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-google"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-youtube"></i> </a></li>
                                <li><a href="#"> <i class="fa fa fa-pinterest-p"></i> </a></li>
                            </ul> <!-- /.header-social  -->
    
                        </div>
                    </div>
                </div>
    
            </div>
    
            <div class="navbar-main">
    
                <div class="container">
    
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                                aria-expanded="false" aria-controls="navbar">
    
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
    
                        </button>
    
                        <a class="navbar-brand" href="/"><img src="/images/index_02.png" alt="" class="img-responsive"></a>  
    
                    </div>
    
                    <div id="navbar" class="navbar-collapse collapse pull-right">
    
                        <ul class="nav navbar-nav">
    
                            <li><a class="is-active" href="/">HOME</a></li>
                            <li><a href="/gallery">GALLERY</a></li>
                            <li class="has-child"><a href="/about">ABOUT</a>
                                <ul class="submenu">
                                    <li class="submenu-item"><a href="/history">OUR HISTORY</a></li>
                                    <li class="submenu-item"><a href="/mission">MISSION & VISION</a></li>
                                    <li class="submenu-item"><a href="/area">OUR WORKING AREAS</a></li>
                                    <li class="submenu-item"><a href="/org">ORGANIZATIONAL STRUCTURE</a></li>
                                    <li class="submenu-item"><a href="/excom">EXECUTIVE COMMITTEE</a></li>
                                    <li class="submenu-item"><a href="/xcom">OTHER COMMITTEE</a></li>
                                    <li class="submenu-item"><a href="/team">OUR TEAM</a></li>
                                </ul>
                         <!--    <li><a href="/causes">CAUSES</a></li> -->
                            <li class="has-child"><a href="/work">OUR WORK</a>
                                <ul class="submenu">
                                    <li class="submenu-item"><a href="/ongoing">ON-GOING </a></li>
                                    <li class="submenu-item"><a href="/end">ENDED </a></li>
                                </ul>
                        
                            <li><a href="/contact">CONTACT</a></li>
                            <li class="career"><a href="#" data-toggle="modal" data-target="#careerModal">GET INVOLVED</a></li>
                            <li class="donate"><a href="#" data-toggle="modal" data-target="#donateModal">DONATE NOW</a>
                            </li>
    
                        </ul>
    
                    </div> <!-- /#navbar -->
    
                </div> <!-- /.container -->
    
            </div> <!-- /.navbar-main -->
    
    
        </nav>
    
    </header> <!-- /. main-header -->
    


<div class="page-heading text-center">

    <div class="container zoomIn animated">

        <h1 class="page-title">ABOUT US <span class="title-under"></span></h1>

    </div>

</div>

<div class="main-container">

    <div class="container">

        <div class="row fadeIn animated">
                <p>
                <p>
                Village Economic Development Organization (VEDO) as a national non-governmental development organization started its journey in early 1993 with
                its strong commitment to bring sustainable changes in the lives of the disadvantaged group of population of the society with particular emphasis
                on women, youth and children. After a decade of working time VEDO has developed competency in the following areas:
                </p>
                </p>


                                        <p>
                                        <p>
                <b>  •	Planning and management of non-formal adult education program with equal participation of women; </b>
            </p>
        </p>




                <p>
                    <p>
                    <b> •	Planning and management of non-formal education program for the hard to reach children (working children, street children and slum children); </b>
                </p>
            </p>




                    <p>
                        <p>
                        <b>•	Designing and implementation of vocational training for the hard to reach children, out of school adolescent and youth, retrench staff of industry; </b>
                    </p>
                </p>




                        <p>
                            <p>
                            <b>  •	Management and operation of micro-credit program for the land less and destitute particularly the women; </b>
                        </p>
                    </p>





                            <p>
                                <p>
                                <b>   •	Planning and management of health and sanitation program including screening and mitigation of arsenic problem; </b>
                            </p>
                        </p>





                                         <p>
                                           <p>
                                    <b>   •	VEDO’s training unit is rich and providing training support to its staff and beneficiaries for capacity development in the fields of
                                        programme management and new technical skill. It also offers training program to others.   </b>
                                         </p>
                                         </p>



                                        <p>
                                        <p>
               <b> Training personnel: </b>

                       Village Economic Development Organization (VEDO) has a team of well experienced Core and Associate Trainers who design and organize
                       training for its staff and beneficiaries as per the need in order to improve and gain new skill for better program performances and
                       management of livelihood interventions. Training unit also offers training program to others under contractual agreement in different
                       fields. Training that are organized by VEDO Training Experts are categorized as under:
                                      </p>
                                      </p>


                       <p>
                        <p>
               <b> Category – 1 </b>

               
            </p>
        </p>
               <p>
                <p>
                Office Management	

                
            </p>
        </p>

                <p>
                    <p>
                Time Management

                
            </p>
        </p>

                <p>
                    <p>
                Center Management

                
            </p>
        </p>

                <p>
                    <p>
                Monitoring and Evaluation

                
            </p>
        </p>

                <p>
                    <p>
                Financial Management

                
            </p>
        </p>

                <p>
                    <p>
                Community Development

                
            </p>
        </p>

                <p>
                    <p>
                Group Formation and Institutional Development
                </p>
                 </p>

                <p>
                    <p>
               <b> Category – 2 </b>
               
            </p>
        </p>

               <p>
                <p>
                Planning and Management of Micro-credit Program	
                
            </p>
        </p>

                <p>
                    <p>
                Social Forestry Program	
                
            </p>
        </p>

                <p>
                    <p>
                Management of Community Health and Sanitation Program
                
            </p>
        </p>

                <p>
                    <p>
                Management of non-formal education program
                
            </p>
        </p>

                <p>
                    <p>
                Management of Water and Sanitation Program
                
            </p>
        </p>

                <p>
                    <p>
                Implementation of Arsenic Mitigation Program
                
            </p>
        </p>

                <p>
                    <p>
                Nursery and Horticulture Development 	
                 </p>
                  </p>


                </p>
            </p>


                <p>
                    <p>
               <b> Category – 3 </b>

               <p>
                <p>
                Computer Literacy
                
            </p>
        </p>

                <p>
                    <p>
	            Planning and operation of poultry, fisheries and cattle breeding program
                
            </p>
        </p>

                <p>
                    <p>
		        Tailoring and dress making
                
            </p>
        </p>

                <p>
                    <p>
	            Block, Batik, Embroidery and screen printing
                
            </p>
        </p>

                <p>
                    <p>
		        Electrical House Wiring
                
            </p>
        </p>

                <p>
                    <p>
	        	Masonry and Rod Binding
                
            </p>
        </p>

                <p>
                    <p>
                General and Auto mechanics

                </p>
                  </p>
                  
                </p>
            </p>


                <p>
                    <p>
                <b> Vocational training program and facilities: </b>
                      Capacity Development of the disadvantaged group of population in order to make access to the appropriate livelihood skill has been taken
                      into strong consideration by the Village Economic Development Organization (VEDO)  in line with the organizational objective. With financial
                      assistance of USAID/ADB/DPHE a skill development center has been setup in the Ramgati Upazilla HQ and providing training to the out of school
                      adolescent and youth of both sex on different trades e.g. tailoring and dress making, block/batik/embroidery, screen printing, electrical house
                      wiring, paper and cloth shopping bags, livestock, fisheries and poultry farming, nursery and horticulture, etc.



                       </p>
                       </p>
                      <p>
                        <p>
                Hard to Reach children of non-formal education program are assessed by the project staff for technical program. Talented and interested children are helped
                by referring to and establishing linkages with the training centers available in the project area to develop marketable skill and find alternative option
                of income. 

                Besides in house training facilities, on the job approach is also undertaken actively for the targeted beneficiary of the project.
                 Training Coordinator is responsible for overall management of the intervention. 
                </p>
                 </p>


                 <p>
                    <p>
                
                 <b> Job placement mechanisms: </b>
                 Searching job and establishing linkages with the potential job providers is a relevant intervention of Village Economic Development Organization (VEDO)
                 Training Coordinator has additional assignment to find job for the persons successfully completed the trade training. Regular visit to the possible job
                 providers and periodical group meeting are the mechanism for motivation and kind offer of the jobs. As such this is a delicate job and it needs good personal
                 exposure and communication skill. 
                </p>
                 </p>
 
                 <p>
                    <p>
                 <b> Advocacy programme: </b>
                Awareness about human rights particularly for women and children in Bangladesh in general and rural society in specific seem far behind even today. As a
                result Village Economic Development Organization (VEDO) observes the human rights day in consonance with the national program as part of the advocacy and
                awareness program. Public meeting, dialogue and discussion of the professional group including the student stakeholder are the program VEDO organizes. 
                 </p>
                   </p>

                <p>
                    <p>
                <b> Awareness building: </b>
                Awareness building programs are operated in two specific devices i.e. yearly / periodical activities and regular communication session. Village Economic
                Development Organization (VEDO) observes the important national and international days through organizing colorful rallies, conference, workshop, public
                meeting, displaying banners, posters/stickers and decorating street corners and strategic locations in one hand and regular group meeting and individual
                contact on the other. 
                 </p>
                 </p>
 
                <p>
                <p>
                    <b> Market Survey: </b>
                In order to identify the appropriate marketable training trades for the vocational / skill development training center Village Economic Development
                Organization (VEDO) conducts market survey. It is done through the structured questionnaire schedule and also through informal discussion and visit
                to the selected sites. Market survey is a continuous process since the situation and market demand in the present context change regularly.
               </p>
             </p>
        </div>

    </div> <!-- /.about-us -->

</div>

<footer class="main-footer">

    <div class="footer-top">

    </div>


    <div class="footer-main">
        <div class="container">

            <div class="row">
                <div class="col-md-6">

                    <div class="footer-col">

                        <h4 class="footer-title">ABOUT US <span class="title-under"></span></h4>

                        <div class="footer-content">

                            <p>
                                Village Economic Development Organization (VEDO) is a development platform for the poor
                                who have least or no access to the benefit of the welfare and development efforts initiated
                                by the government and other development agencies. At the backdrop of the given situation a
                                group of committed personalities engaged in diversified professional fields sat together in
                                a series of time and decided to float the Village Development Organization (VEDO). Actual
                                operations of the activities started propelling on 3 April in 1993 for increased access to
                                resources and facilities in order to bring a tangible and sustainable changes in the lives of
                                the poor and toiling mass of the underdeveloped rural society with particular attention to women
                                and children through providing support for education, health and hygiene, income generation,
                                capacity building in respect to training on skill development and business management.
                            </p>
                        </div>

                    </div>

                </div>


                <div class="col-md-6">

                    <div class="footer-col">

                        <h4 class="footer-title">Contact us <span class="title-under"></span></h4>

                        <div class="footer-content">

                            <div class="footer-form">

                                <div class="footer-form">






                                        <form action="contact/send" method="post">

                                            <script>
                                                $(document).ready(function(){
                                                    var from,to,subject,text;
                                                    $("#send_email").click(function(){
                                                        to='rishanislam9@gmail.com';
                                                        name=$("#name").val();
                                                        email=$("#email").val();
                                                        message=$("#messsage").val();
                                                        $("#message2").text("Sending E-mail...Please wait");
                                                        $.get("http://localhost:3000/send",{to:to,name:name,email:email,message:message},function(data){
                                                            if(data=="sent")
                                                            {
                                                                $("#message2").empty().html("Email is been sent at "+to+" . Please check inbox !");
                                                            }

                                                        });
                                                    });
                                                });
                                            </script>

                                        <div class="form-group">
                                            <input type="text" id="name" name="name" class="form-control" placeholder="Name"
                                                   required>
                                        </div>

                                        <div class="form-group">
                                            <input type="email" id="email" name="email" class="form-control" placeholder="E-mail"
                                                   required>
                                        </div>

                                        <div class="form-group">
                                            <textarea name="message" id="message" class="form-control" placeholder="Message"
                                                      required></textarea>
                                        </div>

                                        <div class="form-group alerts">

                                            <div class="alert alert-success" role="alert">

                                            </div>

                                            <div class="alert alert-danger" role="alert">

                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <button type="submit" id="send_email" class="btn btn-submit pull-right">Send message
                                            </button>
                                        </div>

                                    </form>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="clearfix"></div>


            </div>


        </div>


    </div>
    <div class="footer-bottom">

        <div class="container text-right">
            VILLAGE ECONOMIC DEVELOPMENT ORGANIZATION (VEDO) @ Copyrights 2021 - by <a href="https://www.facebook.com/vedo96.official" target="_blank">VEDO IT</a>
        </div>
    </div>

</footer> <!-- main-footer -->

<!-- Donate Modal -->
<div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="donateModalLabel">DONATE NOW</h4>
            </div>
            <div class="modal-body">

                <form class="form-donation">

                    <h3 class="title-style-1 text-center">Thank you for your donation <span class="title-under"></span>
                    </h3>

                    <div class="row">

                        <div class="form-group col-md-12 ">
                            <input type="text" class="form-control" id="amount" placeholder="AMOUNT(₹)" required>
                        </div>

                    </div>


                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="firstName" placeholder="First name*" required>
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="lastName" placeholder="Last name*" required>
                        </div>
                    </div>


                    <div class="row">

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="email" placeholder="Email*" required>
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="phone" placeholder="Phone" required>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" name="address" placeholder="Address" required>
                        </div>

                    </div>


                    <div class="row">

                        <div class="form-group col-md-12">
                            <textarea cols="30" rows="4" class="form-control" name="note"
                                      placeholder="Additional note"></textarea>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" name="donateNow">DONATE NOW
                            </button>
                        </div>

                    </div>


                </form>

            </div>
        </div>
    </div>

</div> <!-- /.modal -->

<!-- /.career -->
<div class="modal fade" id="careerModal" tabindex="-1" role="dialog" aria-labelledby="careerModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="careerModalLabel">CAREER</h4>
            </div>
            <div class="modal-body">

                <form class="form-career" action="about/send" method="post">

                    <h3 class="title-style-1 text-center">Fill in all the details(all mandatory)  <span class="title-under"></span>
                    </h3>

                    <div class="row">

                        <div class="form-group col-md-12 ">
                            <input type="text" class="form-control" id="job_des" name="job_des" placeholder="Job Description*" required>
                        </div>

                    </div>


                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="fname" placeholder="First name*" required>
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="lname" placeholder="Last name*" required>
                        </div>
                    </div>


                    <div class="row">

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="email" placeholder="Email*" required>
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="phone" placeholder="Phone" required>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" name="address" placeholder="Address" required>
                        </div>

                    </div>


                    <div class="row">

                        <div class="form-group col-md-12">
                            <textarea cols="30" rows="4" class="form-control" name="specialization"
                                      placeholder="Specilization" required></textarea>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" name="submit">SUBMIT
                            </button>
                        </div>

                    </div>


                </form>

            </div>
        </div>
    </div>

</div> <!-- /.career -->

<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/jquery-1.11.1.min.js"><\/script>')</script>

<!-- Bootsrap javascript file -->
<script src="/javascripts/bootstrap.min.js"></script>


<!-- Template main javascript -->
<script src="/javascripts/main.js"></script>

</body>
</html>
