<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Ended Program</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <!-- Font awesome -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

    <!-- Owl carousel -->
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css">

    <!-- Template main Css -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Modernizr -->
    <script src="/javascripts/modernizr-2.6.2.min.js"></script>


</head>

<body>



    <header class="main-header">


        <nav class="navbar navbar-static-top">
    
            <div class="navbar-top">
    
                <div class="container">
                    <div class="row">
    
                        <div class="col-sm-6 col-xs-12">
    
                            <ul class="list-unstyled list-inline header-contact">
                                <li><i class="fa fa-phone"></i> <a href="tel:">+880-1623995145 </a></li>
                                <li><i class="fa fa-envelope"></i> <a
                                            href="mailto:vedo96@gmail.com">vedo96@gmail.com</a></li>
                                <i class="fa fa-envelope"></i> <a
                                        href="mailto:vedo96@gmail.com">vedo96@gmail.com</a>
                            </ul> <!-- /.header-contact  -->
    
                        </div>
    
                        <div class="col-sm-6 col-xs-12 text-right">
    
                            <ul class="list-unstyled list-inline header-social">
    
                                <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-google"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-youtube"></i> </a></li>
                                <li><a href="#"> <i class="fa fa fa-pinterest-p"></i> </a></li>
                            </ul> <!-- /.header-social  -->
    
                        </div>
                    </div>
                </div>
    
            </div>
    
            <div class="navbar-main">
    
                <div class="container">
    
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                                aria-expanded="false" aria-controls="navbar">
    
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
    
                        </button>
    
                        <a class="navbar-brand" href="/"><img src="/images/index_02.png" alt="" class="img-responsive"></a>  
    
                    </div>
    
                    <div id="navbar" class="navbar-collapse collapse pull-right">
    
                        <ul class="nav navbar-nav">
    
                            <li><a class="is-active" href="/">HOME</a></li>
                            <li><a href="/gallery">GALLERY</a></li>
                            <li class="has-child"><a href="/about">ABOUT</a>
                                <ul class="submenu">
                                    <li class="submenu-item"><a href="/history">OUR HISTORY</a></li>
                                    <li class="submenu-item"><a href="/mission">MISSION & VISION</a></li>
                                    <li class="submenu-item"><a href="/area">OUR WORKING AREAS</a></li>
                                    <li class="submenu-item"><a href="/org">ORGANIZATIONAL STRUCTURE</a></li>
                                    <li class="submenu-item"><a href="/excom">EXECUTIVE COMMITTEE</a></li>
                                    <li class="submenu-item"><a href="/xcom">OTHER COMMITTEE</a></li>
                                    <li class="submenu-item"><a href="/team">OUR TEAM</a></li>
                                </ul>
                         <!--    <li><a href="/causes">CAUSES</a></li> -->
                            <li class="has-child"><a href="/work">OUR WORK</a>
                                <ul class="submenu">
                                    <li class="submenu-item"><a href="/ongoing">ON-GOING </a></li>
                                    <li class="submenu-item"><a href="/end">ENDED </a></li>
                                </ul>
                        
                            <li><a href="/contact">CONTACT</a></li>
                            <li class="career"><a href="#" data-toggle="modal" data-target="#careerModal">GET INVOLVED</a></li>
                            <li class="donate"><a href="#" data-toggle="modal" data-target="#donateModal">DONATE NOW</a>
                            </li>
    
                        </ul>
    
                    </div> <!-- /#navbar -->
    
                </div> <!-- /.container -->
    
            </div> <!-- /.navbar-main -->
    
    
        </nav>
    
    </header> <!-- /. main-header -->
    

<div class="page-heading text-center">

    <div class="container zoomIn animated">

        <h1 class="page-title">ENDED PROGRAM <span class="title-under"></span></h1>
    </div>

</div>

<div class="main-container">

    <div class="container">

        <div class="row">
            <div class="col-md-12 fadeIn animated">

                <div id="cause-carousel" class="carousel slide cause-carousel" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#cause-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#cause-carousel" data-slide-to="1"></li>
                    </ol>
                </div>

            </div>

        </div>

        <div class="row ">


            <div class="col-md-12 fadeIn animate-onscroll">

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne">
                                   Non-Formal Adult Education Program Project-1
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <b> Description: </b>Non-formal education is a purposeful and systematically organized form of learning that generally occurs outside the
                                    learning needs of educationally disadvantaged persons of different ages and backgrounds, flexible in terms of organization, time and place
                                    and may cover basic and continuing educational programs to impart basic literacy, including life skills, work skills, general culture,
                                    and facilitates lifelong learning and enhancement of earning capabilities for poverty reduction. It ensures equity in access and human
                                    resource development; it may or may not follow a ‘’ladder’’ system, and may be of varying duration. Beneficiaries of the program are
                                    the men and women of age bracket of 14-24.

                                    <p>                                      
                                    </p>

                                    <p>
                                        <b> Sources of Fund: </b>DNFE/ADB/NORAD/SIDA    
                                    </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                                   aria-expanded="false" aria-controls="collapseTwo">
                                   Non-Formal Adult Education Program Project-2 (24-45)
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <b> Description: </b>480 nos. Adult education Center at Hatia, Sonagazi, Kawkhali, Fotikchari, Banshkhali Upazila under
                                Noakhali, Feni, Rangamati Hill tract & Chittagong district. 14,400 nos. of learner/Beneficiaries were enrolled for imparting education.

                                    <p>                                      
                                    </p>

                                    <p>
                                        <b> Sources of Fund: </b> DNFE/PL-480/
                                        NORAD/SIDA
                                            
                                    </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                   Non-Formal Adult Education Program Project-3 (Basic Education for the Hard to Reach)
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <b> Description: </b>This program targets the hard to reach children who are mainly the working and street children with the age
                                range 6-14 years. This is a two years program and after completing the course the interested learners get admission in the formal
                                school in the third grade. Children who don’t go for further schooling are motivated and helped by the Village Economic Development
                                Organization (VEDO)  for life skill training. 

                                120 nos. Basic education Center at Kotowali & Sutrapur thana under Dhaka City Corporation Area, Pahartoli thana under Chittagong City
                                corporation Area, 27 & 17 No. Word under Khulna City Corporation Area & 7 No. Word under Rajshahi City Corporation Area. 3,600 nos.
                                of learner/Beneficiaries were enrolled for imparting education.
                                

                                    <p>                                      
                                    </p>

                                    <p>
                                        <b> Sources of Fund: </b> DNFE/UNICEF
                                            
                                    </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                  Post Literacy and Continue Education for Human Development Project (PLCEHD-1)
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingFour">
                            <div class="panel-body">
                                <b> Description: </b>Village Economic Development Organization (VEDO) has successfully completed 15 No’s. of Centers at Sadar
                                Upazila under Noakhali District. About 900 No’s. of learners/Beneficiaries were enrolled for Post-literacy reinforcement of education.
                                

                                    <p>                                      
                                    </p>

                                    <p>
                                        <b> Sources of Fund: </b> World Bank/
                                        SDC/GoB-MOE through DNFE                                                                                
                                    </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                   Micro credit program for the landless poor and destitute women 
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingFive">
                            <div class="panel-body">
                                <b> Description: </b>Under this program targeted people are organized in the groups and then go for a series discussion session
                                and training on the selection and operation of an appropriate business trade. Micro – credit support is provided to the qualified
                                trainees.
                                
                                    <p>                                      
                                    </p>

                                    <p>
                                        <b> Sources of Fund: </b> Own Fund.                                                                                
                                    </p>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                   Bangladesh Arsenic Mitigation Water Supply Project
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingSix">
                            <div class="panel-body">
                                <b> Description: </b> In Pursuance to the offer letter issued by the Project Director Bangladesh Arsenic Mitigation Water
                                Supply Project, DPHE Bhaban kakrail, Dhaka, Vide his memo no. IFB no./PD/BAMWSP/A3/156/283dt25/09/2001 to the Village Economic
                                Development Organization (VEDO) for screening Arsenic Mitigation Program under package # 3D consisting 6 (six) Upazilas  of Senbag,
                                Chatkhil, Companiganj of Noakhali District, Ramgaonj upazila of Laksmipur District, Chandpur Sadar of Chandpur District and Nangolkot
                                upazila of Comilla Districts.
                                
                                    <p>                                      
                                    </p>

                                    <p>
                                        <b> Sources of Fund: </b> World Bank/
                                        BAMWSP through DPHE-GoB
                                                                                                                        
                                    </p>

                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingseven">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                                       Bangladesh Arsenic Mitigation Water Supply Project (Community Development & Mitigation)
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseseven" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingseven">
                                <div class="panel-body">
                                    <b> Description: </b>Village Economic Development Organization (VEDO) has been assigned to implement the program in Dagoanvhuyan
                                    Upazila of Feni District and Senbag Upazila of Noakhali districts. Activities include awareness raising, Community Development
                                    for improved health and hygienic practice and arsenic free safe water, in depth training on the subject, etc.
                                    
    
                                        <p>                                      
                                        </p>
    
                                        <p>
                                            <b> Sources of Fund: </b> World Bank/
                                            BAMWSP through DPHE-GoB
                                                                                                                            
                                        </p>
                                </div>
                            </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingeight">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                                       Bangladesh Water Supply Program Project (BWSPP)
                                       Rural Piped Water Supply Scheme.
                                       
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseeight" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingeight">
                                <div class="panel-body">
                                    <b> Description: </b>Village Economic Development Organization (VEDO) has been assigned to implement the program in Ramgati
                                    (Kamol Nagar) Upazila of Lakshmipur district. The objectives of the proposed Rural Piped Water Supply Scheme are as follows:
                                    To facilitate alternative option for rural water supply in arsenic prone areas, To Investigate Arsenic contamination in the
                                    rural Areas, To Provide basic information about arsenic contamination of hand tube- wells, Create demand for improved health
                                    and hygienic practice and arsenic free safe water intake, To make available arsenic, salinity and iron safe water, To improve
                                    easy access to safe water supply in the village areas through an affordable cost to the villages, To encourage public-private
                                    partnership in rural water supply delivery.
                                    
    
                                        <p>                                      
                                        </p>
    
                                        <p>
                                            <b> Sources of Fund: </b> World Bank/
                                            BAMWSP through DPHE-GoB
                                                                                                                            
                                        </p>
                                </div>
                            </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingnine">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                                       Health and Sanitation program
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsenine" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingnine">
                                <div class="panel-body">
                                    <b> Description: </b>Detail activity includes campaign and survey, Awareness raising session on health and sanitation, training on
                                    primary health care issues, demonstration and installation of water sealed latrines, discussion meeting with the formal leadership,
                                    CBOs and elites, distribution of BCC materials, provision of small loan, etc.
                                    
    
                                        <p>                                      
                                        </p>
    
                                        <p>
                                            <b> Sources of Fund: </b> NGO Forum                                                                                
                                        </p>
                                </div>
                            </div>
                        </div>




                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingten">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseten" aria-expanded="false" aria-controls="collapseten">
                                       Afforestation Program                                    </a>
                                </h4>
                            </div>
                            <div id="collapseten" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingten">
                                <div class="panel-body">
                                    <b> Description: </b>This program aims at contributing ecological balance of the environment through plantation of mainly timber trees
                                    in the roadside. Destitute women are engaged for taking care of the trees and they get a lump sum financial support at the time of
                                    plantation The main attraction of the project is the share the caretakers’ family will get from the price of the trees when it will
                                    be sold out.
                                    
    
                                        <p>                                      
                                        </p>
    
                                        <p>
                                            <b> Sources of Fund: </b> Department of Forestry, GoB                                                                                
                                        </p>
                                </div>
                            </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingeleven">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseeleven" aria-expanded="false" aria-controls="collapseeleven">
                                       Skill Development Training Program
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseeleven" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingeleven">
                                <div class="panel-body">
                                    <b> Description: </b>This program aims at the development of increased skill for the poor households in order to make additional channels of income using their gained expertise. Another important objective of the program is to provide skill training for the out of the school adolescent and youth with equal emphasis to male and female on the marketable trades.
                                    
    
                                        <p>                                      
                                        </p>
    
                                        <p>
                                            <b> Sources of Fund: </b> USAID/ADB/DPHE                                                                              
                                        </p>
                                </div>
                            </div>
                        </div>




                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingtwelve">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapsetwelve" aria-expanded="false" aria-controls="collapsetwelve">
                                       Re-training program for the Affected Jute Mills Workers of BJMC
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsetwelve" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingtwelve">
                                <div class="panel-body">
                                    <b> Description: </b>In order to develop new skill for the retrenched jute mill workers the government introduced retraining program. Village Economic Development Organization (VEDO)  as an authorized partner NGO has been providing training to a total of 1545 beneficiaries on 12 different selected trades.
                                    
    
                                        <p>                                      
                                        </p>
    
                                        <p>
                                            <b> Sources of Fund: </b> World Bank/ MOJ/CDRB                                                                                
                                        </p>
                                </div>
                            </div>
                        </div>




                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingthirteen">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapsethirteen" aria-expanded="false" aria-controls="collapsethirteen">
                                       Feeding of Urea Molasses treated straw for cattle fattening:
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsethirteen" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingthirteen">
                                <div class="panel-body">
                                    <b> Description: </b>Village Economic Development Organization (VEDO) has successfully completed Feeding of Urea Molasses treated straw for cattle fattening  Project at Ramgati Upazila under Lakshmipur District. About 900 Nos. of Beneficiaries were enrolled for ATTP
                                    
    
                                        <p>                                      
                                        </p>
    
                                        <p>
                                            <b> Sources of Fund: </b> Winrock International                                                                                
                                        </p>
                                </div>
                            </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingfourteen">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapsefourteen" aria-expanded="false" aria-controls="collapsefourteen">
                                       Introducing Intensive Soybean Cultivation and Improved Practices of Soil Health Management.
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsefourteen" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingfourteen">
                                <div class="panel-body">
                                    <b> Description: </b>This Project was assigned by the BARC, GO-NGO Project Bangladesh Agricultural Research Council, Ministry of Agriculture. Following are detailed information of the Programs implementation by VEDO.
                                    
    
                                        <p>                                      
                                        </p>
    
                                        <p>
                                            <b> Sources of Fund: </b> USAID/MOA through BARC                                                                               
                                        </p>
                                </div>
                            </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingfifteen">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapsefifteen" aria-expanded="false" aria-controls="collapsefifteen">
                                       Twin Pit Latrine Construction Project
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsefifteen" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingfifteen">
                                <div class="panel-body">
                                    <b> Description: </b>Village Economic Development Organization (VEDO) is on of the partner NGO for implementation of the project in the rural areas of Bangladesh in order to popularize the use of the said latrine.
                                    
    
                                        <p>                                      
                                        </p>
    
                                        <p>
                                            <b> Sources of Fund: </b> LGED                                                                             
                                        </p>
                                </div>
                            </div>
                        </div>




                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingsixteen">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapsesixteen" aria-expanded="false" aria-controls="collapsesixteen">
                                       Hygiene, Sanitation and Water Supply Program:
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsesixteen" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingsixteen">
                                <div class="panel-body">
                                    <b> Description: </b>The Project goal is to reduce morality, morbidity and mal nutrition due to diarrhea and other water borne diseases, especially among poor women and children. The Project purpose is to improve standards of hygiene practices and behavior particularly for the poor. Under this program VEDO  is working in Ramgati Upazila under Lakshmipur district as a Field Agency of Environmental Sanitation, Hygiene and Water Supply in Rural Areas (ESHWSRA) Project with the technical and financial assistance of NGO Forum under this program VEDO completed the following activities since 2002.
                                    
    
                                        <p>                                      
                                        </p>
    
                                        <p>
                                            <b> Sources of Fund: </b> NGO Forum                                                                             
                                        </p>
                                </div>
                            </div>
                        </div>




                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingseventeen">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseseventeen" aria-expanded="false" aria-controls="collapseseventeen">
                                       Eastern Bangladesh Rural Infrastructure Development Project (EBRIDP)
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseseventeen" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingseventeen">
                                <div class="panel-body">
                                    <b> Description: </b>Mobilization and training of LCS Women Members and Facilitation for Establishment of Women Market Section (WMS)
                                    
    
                                        <p>                                      
                                        </p>
    
                                        <p>
                                            <b> Sources of Fund: </b> JBIC/LGERD                                                                                
                                        </p>
                                </div>
                            </div>
                        </div>




                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingeighteen">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseeighteen" aria-expanded="false" aria-controls="collapseeighteen">
                                       Qurbani Program
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseeighteen" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingeighteen">
                                <div class="panel-body">
                                    <b> Description: </b>Village Economic Development Organization (VEDO) has successfully completed 
                                    
    
                                        <p>                                      
                                        </p>
    
                                        <p>
                                            <b> Sources of Fund: </b> Islamic Relief                                                                              
                                        </p>
                                </div>
                            </div>
                        </div>





                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingnineteen">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapsenineteen" aria-expanded="false" aria-controls="collapsenineteen">
                                       Shrimp Culture Project
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsenineteen" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingnineteen">
                                <div class="panel-body">
                                    <b> Description: </b>Village Economic Development Organization (VEDO) has successfully completed
                                    
    
                                        <p>                                      
                                        </p>
    
                                        <p>
                                            <b> Sources of Fund: </b> Muslim Aid                                                                                
                                        </p>
                                </div>
                            </div>
                        </div>




                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingtwenty">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapsetwenty" aria-expanded="false" aria-controls="collapsetwenty">
                                       Greater Rangpur Agriculture Development Project
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsetwenty" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingtwenty">
                                <div class="panel-body">
                                    <b> Description: </b>Village Economic Development Organization (VEDO) has successfully
                                    
    
                                        <p>                                      
                                        </p>
    
                                        <p>
                                            <b> Sources of Fund: </b> DAE                                                                              
                                        </p>
                                </div>
                            </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingtwentyone">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapsetwentyone" aria-expanded="false" aria-controls="collapsetwentyone">
                                       Grameen Poor Maternity allowance Programme
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsetwentyone" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingtwentyone">
                                <div class="panel-body">
                                    <b> Description: </b>Village Economic Development Organization (VEDO) has successfully completed 15 No’s. of Centers at Sadar
                                    Upazila under Noakhali District. About 900 No’s. of learners/Beneficiaries were enrolled for Post-literacy reinforcement of education.
                                    
    
                                        <p>                                      
                                        </p>
    
                                        <p>
                                            <b> Sources of Fund: </b> Ministry of Women and Child affairs.                                                                               
                                        </p>
                                </div>
                            </div>
                        </div>





                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingtwentytwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapsetwentytwo" aria-expanded="false" aria-controls="collapsetwentytwo">
                                       Online Holding Data based and Holding Number Placement Project
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsetwentytwo" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingtwentytwo">
                                <div class="panel-body">
                                    <b> Description: </b>Village Economic Development Organization (VEDO) has successfully completed
                                    
    
                                        <p>                                      
                                        </p>
    
                                        <p>
                                            <b> Sources of Fund: </b> Local Government Ministry/City Corporation n Union Parishad                                                                                
                                        </p>
                                </div>
                            </div>
                        </div>

                   </div>

                    </div>


                </div>

                <p></p>

            </div>

        </div>

    </div>

</div> <!-- /.main-container  -->

<footer class="main-footer">

    <div class="footer-top">

    </div>


    <div class="footer-main">
        <div class="container">

            <div class="row">
                <div class="col-md-6">

                    <div class="footer-col">

                        <h4 class="footer-title">ABOUT US <span class="title-under"></span></h4>

                        <div class="footer-content">

                            <p>
                                Village Economic Development Organization (VEDO) is a development platform for the poor
                                who have least or no access to the benefit of the welfare and development efforts initiated
                                by the government and other development agencies. At the backdrop of the given situation a
                                group of committed personalities engaged in diversified professional fields sat together in
                                a series of time and decided to float the Village Development Organization (VEDO). Actual
                                operations of the activities started propelling on 3 April in 1993 for increased access to
                                resources and facilities in order to bring a tangible and sustainable changes in the lives of
                                the poor and toiling mass of the underdeveloped rural society with particular attention to women
                                and children through providing support for education, health and hygiene, income generation,
                                capacity building in respect to training on skill development and business management.
                            </p>
                        </div>

                    </div>

                </div>


                <div class="col-md-6">

                    <div class="footer-col">

                        <h4 class="footer-title">Contact us <span class="title-under"></span></h4>

                        <div class="footer-content">

                            <div class="footer-form">

                                <div class="footer-form">






                                        <form action="contact/send" method="post">

                                            <script>
                                                $(document).ready(function(){
                                                    var from,to,subject,text;
                                                    $("#send_email").click(function(){
                                                        to='rishanislam9@gmail.com';
                                                        name=$("#name").val();
                                                        email=$("#email").val();
                                                        message=$("#messsage").val();
                                                        $("#message2").text("Sending E-mail...Please wait");
                                                        $.get("http://localhost:3000/send",{to:to,name:name,email:email,message:message},function(data){
                                                            if(data=="sent")
                                                            {
                                                                $("#message2").empty().html("Email is been sent at "+to+" . Please check inbox !");
                                                            }

                                                        });
                                                    });
                                                });
                                            </script>

                                        <div class="form-group">
                                            <input type="text" id="name" name="name" class="form-control" placeholder="Name"
                                                   required>
                                        </div>

                                        <div class="form-group">
                                            <input type="email" id="email" name="email" class="form-control" placeholder="E-mail"
                                                   required>
                                        </div>

                                        <div class="form-group">
                                            <textarea name="message" id="message" class="form-control" placeholder="Message"
                                                      required></textarea>
                                        </div>

                                        <div class="form-group alerts">

                                            <div class="alert alert-success" role="alert">

                                            </div>

                                            <div class="alert alert-danger" role="alert">

                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <button type="submit" id="send_email" class="btn btn-submit pull-right">Send message
                                            </button>
                                        </div>

                                    </form>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="clearfix"></div>


            </div>


        </div>


    </div>
    <div class="footer-bottom">

        <div class="container text-right">
            VILLAGE ECONOMIC DEVELOPMENT ORGANIZATION (VEDO) @ Copyrights 2021 - by <a href="https://www.facebook.com/vedo96.official" target="_blank">VEDO IT</a>
        </div>
    </div>

</footer> <!-- main-footer -->

<!-- Donate Modal -->
<div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="donateModalLabel">DONATE NOW</h4>
            </div>
            <div class="modal-body">

                <form class="form-donation">

                    <h3 class="title-style-1 text-center">Thank you for your donation <span class="title-under"></span>
                    </h3>

                    <div class="row">

                        <div class="form-group col-md-12 ">
                            <input type="text" class="form-control" id="amount" placeholder="AMOUNT(₹)" required>
                        </div>

                    </div>


                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="firstName" placeholder="First name*" required>
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="lastName" placeholder="Last name*" required>
                        </div>
                    </div>


                    <div class="row">

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="email" placeholder="Email*" required>
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="phone" placeholder="Phone" required>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" name="address" placeholder="Address" required>
                        </div>

                    </div>


                    <div class="row">

                        <div class="form-group col-md-12">
                            <textarea cols="30" rows="4" class="form-control" name="note"
                                      placeholder="Additional note"></textarea>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" name="donateNow">DONATE NOW
                            </button>
                        </div>

                    </div>


                </form>

            </div>
        </div>
    </div>

</div> <!-- /.modal -->

<!-- /.career -->
<div class="modal fade" id="careerModal" tabindex="-1" role="dialog" aria-labelledby="careerModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="careerModalLabel">CAREER</h4>
            </div>
            <div class="modal-body">

                <form class="form-career" action="about/send" method="post">

                    <h3 class="title-style-1 text-center">Fill in all the details(all mandatory)  <span class="title-under"></span>
                    </h3>

                    <div class="row">

                        <div class="form-group col-md-12 ">
                            <input type="text" class="form-control" id="job_des" name="job_des" placeholder="Job Description*" required>
                        </div>

                    </div>


                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="fname" placeholder="First name*" required>
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="lname" placeholder="Last name*" required>
                        </div>
                    </div>


                    <div class="row">

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="email" placeholder="Email*" required>
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="phone" placeholder="Phone" required>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-12">
                            <input type="text" class="form-control" name="address" placeholder="Address" required>
                        </div>

                    </div>


                    <div class="row">

                        <div class="form-group col-md-12">
                            <textarea cols="30" rows="4" class="form-control" name="specialization"
                                      placeholder="Specilization" required></textarea>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" name="submit">SUBMIT
                            </button>
                        </div>

                    </div>


                </form>

            </div>
        </div>
    </div>

</div> <!-- /.career -->
<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/jquery-1.11.1.min.js"><\/script>')</script>

<!-- Bootsrap javascript file -->
<script src="/javascripts/bootstrap.min.js"></script>

<!-- PrettyPhoto javascript file -->
<script src="/javascripts/jquery.prettyPhoto.js"></script>


<!-- Google map  -->
<script src="http://maps.google.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>


<!-- Template main javascript -->
<script src="/javascripts/main.js"></script>

</body>
</html>
